[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["playwright-aws-lambda", "playwright-core"]
  
[[functions."search"]]
  memory = 1024
  timeout = 26